<div class="container">
  <h1>Stupid Coaching</h1>
  <h3>Ask your coach anything you like:</h3>
  <div class="form-group m-3">
    <div class="row col-6">
      <form action="answer">
        <div class="form-inline">
          <input type="text" name="question" class="form-control">
          <input type="submit" value="Ask!" class="form-control btn btn-primary">
        </div>
      </form>
    </div>

  </div>
</div>
